#rawTextBox, #encodedTextBox {
    height:100px;
    width:65%;
}

#encodedTextBox{
    margin-top:5px;
    height:250px;
    background:none;
    border:none;
}
.jumbotron{
    background-image:url(old_paper6.jpg);
    background-position:center;
    text-align:center;
    font-family:'Arabic Typesetting';
    font-size:3em;
    box-shadow:rgba(0,0,0,0.8) 5px 5px 5px;
    border:none;
    border-radius:0px;
}


#parchmentBox{
    width:100%;
    padding-bottom:55%;
    background-image:url(emptyScrollClipped.png);
    background-size:contain;
    background-repeat:no-repeat;
}

.textBox{
    width:80%;
    
    align-items:center;
    border-radius:5px;
    height:40px;
    border:2px solid #948a64;
}
body{
    
    font-size:1.5em;
    background-image:url(cobble-stones-photoshop-patterns.jpg);
    background-size:90%;
}

div{
    padding:10px;
}

.container{
    box-shadow:rgba(0,0,0,0.6) 10px 10px 5px;
    background-image:url(rustic-wood-panel-background-free.jpg);
    background-size:contain;
    font-family:'Times New Roman';
    font-weight:bolder;
    border-radius: 10px;
    text-decoration:underline solid;
}

.button{
    border-radius: 7px;
    background-image:url(iron_texture.jpg);
    font-weight:900;
    font-size:larger;
    color:rgba(0,0,0,0.8);
    box-shadow:rgba(0,0,0,0.6) -3px -3px 1px inset;
    width:100%;
    height:40px;
    border:none;
    
}
.button:disabled{
    background-color:#e1e1e1;
    color:rgba(0,0,0,0.4);
}

.writing{
    float:right;
    text-align:right;
    background-image:url(old_paper6.jpg);
    padding: 5px;
    border-radius:5px;
    box-shadow:rgba(0,0,0,0.8) 5px 3px 5px;
    border:2px outset rgba(111, 62, 8, 0.75);
}

#messageCharWarningLabel{
    color:#940000;
    text-align:center;
}

